fastapi
uvicorn[standard]

torch==2.1.2

# ⚠️ DO NOT PIN numpy or librosa
# Coqui TTS manages them

ffmpeg-python
soundfile
soxr
audioread

opencv-python-headless==4.8.1.78

TTS==0.20.3

tqdm
requests
pydantic
python-multipart
loguru
srt
moviepy==1.0.3
groq
